@import '~material-design-icons/iconfont/material-icons.css';
//@import '~materialize-css/dist/css/materialize.css';

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}